.loading-spinner{
    width: 100%;
    height: 100%;
}
.import-detail{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 1.3rem;

    .detail-header{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .detail-title{
            display: flex;
            gap: 10px;
            justify-content: flex-start;
            align-items: center;
            .back-btn{
                padding: 0.3rem;
                border: 3px solid black;
                background-color: #F2F1F6;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: black;
                text-decoration: none;
            }
    
            h1{
                font-size: 1.7rem;
            }
    
        }
        
        .print-section{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .print-btn{
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.3em;
                background-color: #F7F8FC;
                border: 2px solid #F7F8FC;
                border-radius: 5px;
                cursor: pointer;
                transition: all .2s ease-in-out;

                .print-icon{
                    width: 30%;
                    color: black;
                }

                span{
                    font-weight: 550;
                    color: black;
                }

                &:hover{
                    background-color: #dbdeea;

                    
                }
            }
        }
        
    }

    .detail-section{
        box-sizing: border-box;
        width: 100%;

        .added-info, .product-info{
            box-sizing: border-box;
            width: 100%;
            background-color: white;
            border: 2px solid #F2F1F6;
            border-radius: 5px;
        }

        .added-info{
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;


            .detail-card{

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                h3, h4{
                    margin: 0;
                    padding: 0;
                }
    
                h3{
                    font-size: 1rem;
                    font-weight: 400;
                    color: rgb(129, 129, 129);
                }
    
                h4{
                    font-size: 1.1rem;
                }
            }

            
            
        }

        .product-info{
            margin-top: 5px;

            .products-section{
                box-sizing: border-box;
                width: 100%;
                padding: 1rem;


                .section-title{
                    font-size: 1.2em;
                    font-weight: 550;
                }

                .import-product-table{
                    width: 100%;

                    th,td{
                        box-sizing: border-box;
                        width: 100%;
                        padding: 0.5rem 0;
                        
                    }
    
                    th{
                        color: rgb(169, 169, 169);
                        font-weight: 100;
                        font-style: normal;
                    }
    
                    .product-table-head, .product-table-data{
                        display: grid;
                        grid-template-columns: auto 25% 5% 20% 20% 15% 10%;
                        
                    }

                    .product-table-head span{
                        text-align: center !important;
                    }
    
                    .product-table-head{
                        border-bottom: 2px solid #F7F7F7;
                    }

                    .product-subtable-head1, .product-subtable-data1{
                        display: grid;
                        grid-template-columns: 30% 30% auto;
                        
                    }

                    .product-subtable-head2, .product-subtable-data2{
                        display: grid;
                        grid-template-columns: 40% auto;
                    }

                    .product-table-data{

                        
                    }

                    .product-table-foot{
                        display: grid;
                        grid-template-columns: auto 52% 35% 10%;
                    }

                    .product-subtable{
                        width: 100%;
                    }


                }

                

            }
        }

        
    }
    

    
}

@media (max-width: 1024px) {
    .import-detail{
        .detail-section{

            .product-info{
                overflow-x: auto;

                .products-section{

                    .import-product-table{
                        width: 1200px;
                    }
                }

            }

            
        }
    }     

}
